@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


.App {
  text-align: center;
  align-items: center;  
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row1{
  display: flex;
  gap : 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;

}

.centered{
  align-items: center;  
  justify-content: center;
  /* background-color: rgb(15, 31, 37); */
  margin: auto;
  
}
@keyframes gradientMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.tableStyle{
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(6px);
  border: 1px solid #00eaff33;
  border-radius: 12px;
  overflow: hidden;
}

.tableStyle th {
  background: rgba(0,234,255,0.2);
  color: #00eaff;
  font-family: 'Orbitron';
  padding: 12px;
}

.tableStyle td {
  padding: 12px;
  color: #dffcff;
  border-top: 1px solid #00eaff22;
  text-align: center;
}
.inputBox{
  background: rgba(255,255,255,0.05);
  color: #e0f9ff;
  border: 1px solid #00eaff55;
  border-radius: 8px;
  padding: 8px 14px;
  outline: none;
  transition: 0.2s;
  margin-right : 1rem;
  width: 8rem;
}

.inputBoxSelect{
  background: rgba(255,255,255,0.05);
  color: #e0f9ff;
  border: 1px solid #00eaff55;
  border-radius: 8px;
  padding: 8px 18px ;
  outline: none;
  transition: 0.2s;
  height: 2.2rem;
  appearance: none;
  width: 10rem;
  margin-right : 1rem


}

.inputBox:focus {
  border: 1px solid #00eaff;
  box-shadow: 0 0 10px #00eaff55;
}

.pageHeading{
  font-size: 4rem;
  color: coral;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 2px rgb(151, 13, 45);
  font-family: 'Orbitron', sans-serif;
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff;
}


.addButton{
  background: #00eaff;
  border: none;
  color: black;
  border-radius: 12px;
  box-shadow: 0 0 10px #00eaff80;
  transition: 0.3s ease;
  width: 4rem;
  height: 2.3rem;
  margin-left: 2rem;
  /* margin-top : 90px */
}

.addButton:hover{
  box-shadow: 0 0 15px #00eaff;
  transform: translateY(-2px);
}
.deleteBtn {
  background-color: transparent;
  border: 1px solid #ff4d6d;
  color: #ff4d6d;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.completeBtn{
  background-color: transparent;
  border: 1px solid #69df15;
  color: #20ca1a;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.completeBtn:hover {
  background-color: #52d704;
  color: black;
  box-shadow: 0 0 8px #98e803;
}

.deleteBtn:hover {
  background-color: #ff4d6d;
  color: black;
  box-shadow: 0 0 8px #ff4d6d;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(15, 31, 37); /* same as your dark bg */
  height: 100%;
  background: linear-gradient(135deg, #020b13, #061a26, #040f1d);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

.sideNav {
  position: fixed;
  top: 60px; /* below the fixed header */
  left: 0;
  width: 200px;
  height: calc(100vh - 60px);
  background: #062033;
  border-right: 1px solid #00eaff33;
  padding: 20px;
  color: white;
}

.sideNav a {
  display: block;
  margin-bottom: 20px;
  color: #e0f9ff;
  text-decoration: none;
  font-size: 18px;
}

.dashboardContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding : 3rem;
  flex-direction: column;
}

.tile1{
  height: 10rem;
  width: 15rem;
  background-color: #00eaff;
  border-radius: 8px;
  border : 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b30606;
  text-shadow: 0 0 10px #ebeb18, 0 0 20px #b2d918;
  /* -webkit-text-stroke: 1px rgb(237, 237, 19);   */
}

.tile2{
  height: 10rem;
  width: 15rem;
  background-color: #00eaff;
  border-radius: 8px;
  border : 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.urgentGlow {
  background: rgba(173, 33, 5, 0.08);
  border: 1px solid rgba(255, 80, 80, 0.6);
  border-radius: 14px;
  padding: 20px;
  color: #fff;
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease;
  /* Glow */
  box-shadow:
    0 0 12px rgba(255, 60, 60, 0.6),
    0 0 30px rgba(255, 60, 60, 0.4);

  /* Smooth pulse */
  animation: urgentPulse 1.8s infinite alternate;
}

@keyframes urgentPulse {
  0% {
    box-shadow:
      0 0 8px rgba(255, 60, 60, 0.4),
      0 0 20px rgba(255, 60, 60, 0.25);
  }
  100% {
    box-shadow:
      0 0 18px rgba(255, 60, 60, 0.8),
      0 0 45px rgba(255, 60, 60, 0.5);
  }
}

.mediumGlow {
  background: rgba(2, 67, 124, 0.08);
  border: 1px solid rgba(255, 80, 80, 0.6);
  border-radius: 14px;
  padding: 20px;
  color: #fff;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease;
  box-shadow:
    0 0 12px rgba(3, 98, 231, 0.6),
    0 0 30px rgba(2, 8, 185, 0.4);

  /* Smooth pulse */
  animation: mediumPulse 1.8s infinite alternate;
}
.mediumGlow span {
  color: #f0e8e8;
  -webkit-text-stroke: 1.5px #cfec14; 
}


.mediumGlow2 {
  background: rgba(2, 67, 124, 0.08);
  border: 1px solid rgba(255, 80, 80, 0.6);
  border-radius: 14px;
  padding: 20px;
  color: #fff;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease;

  /* Glow */
  box-shadow:
    0 0 12px rgba(3, 98, 231, 0.6),
    0 0 30px rgba(2, 8, 185, 0.4);

  /* Smooth pulse */
  animation: mediumPulse 1.8s infinite alternate;
}

@keyframes mediumPulse {
  0% {
    box-shadow:
      0 0 8px rgba(9, 138, 189, 0.4),
      0 0 20px rgba(3, 39, 199, 0.25);
  }
  100% {
    box-shadow:
      0 0 18px rgba(4, 88, 214, 0.8),
      0 0 45px rgba(2, 8, 109, 0.5);
  }
}

.mediumGlow2 span {
  color: #f0e8e8;
  -webkit-text-stroke: 1.5px #14cfec; 
}
.urgentGlow span {
  color: #f0e8e8;
  -webkit-text-stroke: 1.5px #ec1438; 
}

.urgentGlow:hover {
  transform: translateY(-12px);

}

.mediumGlow:hover {
  transform: translateY(-12px);

}

.mediumGlow2:hover {
  transform: translateY(-12px);
 
}

.topHeader {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: #041423;
  color: #00eaff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 22px;
  font-family: 'Orbitron';
  border-bottom: 1px solid #00eaff55;
  z-index: 1000;
}

.mainContent {
  margin-top: 60px;       /* header height */
  margin-left: 200px;    /* sidebar width */
  padding: 20px;
  min-height: calc(100vh - 60px);
}

/* active link highlight */
.sideNav a.active {
  color: #00eaff;
  font-weight: bold;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  min-width: 250px;
  padding: 14px 18px;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  /* animation: slideIn 0.3s ease; */
  animation: slideDown 0.4s ease-out;
}

.notification.success {
  background: #2ecc71;
}

.notification.error {
  background: #e74c3c;
}

.notification button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.statusCountHigh{
  font-size: 3rem;
  color: #a60303;
  padding: 3rem;
  font-family: 'Orbitron', sans-serif;

}
.statusCountMedium{
  font-size: 3rem;
  color: #e4e710;
  padding: 3rem;
  font-family: 'Orbitron', sans-serif;
}
.statusCountLow{
  font-size: 3rem;
  color: #13df2b;
  padding: 3rem;
  font-family: 'Orbitron', sans-serif;
}

